body {
  height: 100vh;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  padding: 0px;

}

.logo {
  width: 120px;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: blueviolet;
  height: 100vh;
}
/* Left section */
.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  background-color: #0c70f2;
}

.bannerArea{
  display: flex;
  justify-content: space-around;
  width: 100%;
  
}
.bannerArea .banner{
  align-items: flex-start;
  position: absolute;
}
/* Right section */
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  background-color: #efebe4;
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome h1 {
  font-size: 30px;
}

.jumpyLogo {
  width: 300px;
  height: 70px;
}

.welcome form {
  display: flex;
  flex-direction: column;
}
form div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.inputArea {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
form div input {
  width: 400px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  font-size: 16px;
}

form div input:focus {
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form label {
  margin-bottom: 10px;
}

.rememberUser {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
 
  height: 18px;
}

.rememberUser p {
  font-size: 12px;
  margin-left: 5px;
  padding: 0px;
  font-weight: 600;
}

.rememberUser input {
  width: 18px;
  height: 18px;
  margin-left: 5px;
  padding: 0px;
}

.forgotPass {
  display: flex;
  align-items: flex-end;
  margin: 0px;
  padding: 0px;

}

.forgotPass a {
  text-decoration: none;
  font-weight: bold;
  color: #0c70f2;
  
}
.forgotPass a:hover {
color: #247ef3;

}

.customButton {
  background-color: #0c70f2;
  color: #fff;
  font-size: 18px;
  height: 50px;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  margin-top: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
}
.customButton:hover {
  background-color: #247ef3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

form p {
  text-align: center;
  font-weight: 600;
}

form p a {
  text-align: center;
  text-decoration: none;
  color: #0c70f2;
  line-height: 20px;
  font-weight: 700;
}

form p a:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

/* Footer section */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #303030;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
footer p {
  color: #fff;
  font-size: 14px;
}
footer p a {
  color: #00AAFF;
  text-decoration: none;
}
